/* Les styles CSS */
body {
    font-family: Verdana;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#com {
    position: absolute; /* Positionnement absolu par rapport au body */
    top: 0;
    left: 0;
    width: 150px; /* ou la taille que vous souhaitez pour votre logo */
    height: auto; /* pour maintenir le rapport d'aspect de l'image */
}

p {
    color: #ffffff;
}

h2 {
    color: rgb(255, 255, 255);
    margin: auto;
    font-family: Verdana;
    font-size: 18;
    text-align: center;
}

hr{
    border: none; /* Supprime la bordure par défaut */
    height: 2px; /* Ajustez la hauteur selon vos besoins */
    background-color: yellow; /* Couleur de la ligne */
}

.header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 230, 0);
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

.navigation {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    text-align: center; /* Centrer le texte à l'intérieur de la navigation */
}

.navigation a {
    color: rgb(255, 230, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-decoration: underline;
}

.navigation a:hover {
    background-color: #aca8a8;
    color: rgb(255, 255, 255);
}

.map-container {
    padding: 20px;
}

#cont2{
    text-align: center;
    margin-top: 50px;
    color: yellow;
}

/* Styles pour le formulaire de contact */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: yellow;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#film {
    width: 600px; /* Remplacez la valeur par la largeur souhaitée */
    height: auto; /* Pour maintenir le rapport d'aspect de l'image */
    float: left; /* Pour positionner l'image à gauche */
}

.film-content {
    overflow: hidden; /* Clearfix pour éviter le collapsage du conteneur */
}

.film-text {
    margin-left: 50px; /* Espace entre l'image et le texte à droite */
    padding-right: 20%;
}
 
.information{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* 100% de la hauteur de la vue */
}

.information2{
    text-align: center;
    font-size: 18px;
}

.colorr{
    color: yellow;
}


.critique {
    margin-bottom: 20px;
}

.etoiles {
    color: #FFD700; /* Couleur jaune pour les étoiles */
}

.moyenne {
    margin-top: 20px;
}

.lien-bouton {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.critique {
    margin-bottom: 20px;
    text-align: center;
}

.etoiles {
    color: #FFD700; /* Couleur jaune pour les étoiles */
    text-align: center;

}

.moyenne {
    margin-top: 20px;
    text-align: center;

}

.lien-bouton {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

label {

    color: #ffffff;
}

#Liste {

    color: #ffffff;
}